@model ETicaret.Core.Entities.Order

@{
    ViewData["Title"] = "Detaylar";
}
<div class="card p-4 mb-4 shadow-sm">
    <hr />
    <dl class="row">
        <dt class="col-sm-3 text-muted">
            @Html.DisplayNameFor(model => model.OrderNumber)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.OrderNumber)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.TotalPrice)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.TotalPrice) ₺
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.AppUserId)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.AppUserId)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.AppUser)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.AppUser.Name)
            @Html.DisplayFor(model => model.AppUser.Surname)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.BillingAddress)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.BillingAddress)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.DeliveryAddress)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.DeliveryAddress)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.OrderDate)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.OrderState)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.OrderState)
        </dd>
    </dl>
    @if (Model.OrderLines.Any())
    {
         <table class="table table-sm align-middle">
                            <thead class="table-light">
                                <tr>
                                    <th>Görsel</th>
                                    <th>Ürün</th>
                                    <th>Fiyat</th>
                                    <th>Miktar</th>
                                    <th>Toplam</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item2 in Model.OrderLines)
                                {
                                    <tr>
                                        <td>
                                            <img src="/Img/Product/@item2.product.Image" 
                                                 alt="@item2.product.Name" 
                                                 class="img-thumbnail" style="height:50px;" />
                                        </td>
                                        <td>
                                            <a href="/Products/Details/@item2.product.Id" class="text-decoration-none fw-bold">
                                                @item2.product.Name
                                            </a>
                                        </td>
                                        <td>@item2.UnitPrice.ToString("c")</td>
                                        <td>@item2.Quantity</td>
                                        <td>@((item2.Quantity * item2.UnitPrice).ToString("c"))</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
    }
</div>
<div>
   <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning me-2"> 
        <i class="fas fa-edit"></i> Düzenle
    </a>
</div>
