@model IEnumerable<ETicaret.Core.Entities.Product>

@{
    ViewData["Title"] = "Ürün Yönetimi";
}
<p>
   <a asp-action="Create" class="btn btn-primary">
        <i class="fas fa-user-plus"></i> Yeni Ürün Ekle
    </a>
</p>
<div class="table-responsive"> 
     <table class="table table-striped table-hover table-bordered"> 
<thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsHome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderNo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @item.CreateDate.ToShortDateString()
            </td>
            <td>
               <img src="/Img/Product/@item.Image" alt ="" height="30" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsHome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderNo)
            </td>
             <td class="text-center text-nowrap"> 
              <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning btn-sm me-1" title="Düzenle">
              <i class="fas fa-edit"></i>
               </a>
               <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info btn-sm me-1" title="Detaylar">
                <i class="fas fa-info-circle"></i>
               </a>
               <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm" title="Sil">
                 <i class="fas fa-trash-alt"></i>
                  </a>
                </td>
             </tr>
} </tbody>
</table>
</div>

 @section Scripts {
 @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

