@model Product
<div class="col mb-5">
                        <div class="card h-100">
                            
                            <div class="badge position-absolute" style="top: 0.5rem; right: 0.5rem">

 @*asp-action="Add": Bu form gönderildiğinde, Add adlı bir aksiyon metoduna yönlendirilir.
 Bu aksiyon, FavoritesController sınıfındaki Add metodudur.*@       
                                <form asp-action="Add"  asp-controller="Favorites"> 
                                    <input type="hidden" name="ProductId"  value="@Model.Id" />
                                    <button class="btn btn-transparent" type="submit" style="box-shadow: none">
                                        <i class="bi-heart"> </i>
                                    </button>
                                </form>

                            </div>
                            
                            <a href="/Products/Details/@Model.Id">
                                 <img class="card-img-top" src="/Img/Product/@Model.Image" alt="@Model.Name">
                            </a>
                           
                          
                            <div class="card-body p-4">
                                <div class="text-center">
                                   
                                    <h5 class="fw-bolder">@Model.Name</h5>
                                   
                                    <span class="text-muted text-decoration-line-through"></span>
                                    @Model.Price.ToString("c")
                                </div>
                            </div>
                            
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <form action="/Cart/Add" method="Cart">
                                <input type="hidden" name="ProductId" value="@Model.Id" />
                                <div class="text-center">
                                    <button class="btn btn-outline-dark mt-auto" type="submit">
                                        <i class="bi-cart me-1"></i>
                                        Sepete Ekle</button></div>
                               </form>
                            </div>
                        </div>
                    </div>